/*** Règles Générales ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resp {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

w-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

.logo {
    width: 10%;
}

/*** Fin des Règles Générales ***/

/*** Header ***/

header nav {
    height: 100px;
    background-color: #D4DBE3;
}

header a {
    font-size: 2em;
    color: black;
}

/*** Fin du Header ***/

/*** Main ***/

    /*** Section home ***/

    section#homeTitleArticle {
        height: 250px;
    }

    section h1 > a {
        color: black;
        font-size: 1.6em;
    }

    .imgSect2 {
        height: 500px;
        background-image:   url("../../assets/img/fond.jpg");
        background-size: cover;
        background-position: center;
    }

    /*** Section articles ***/

    .card {
        width: 30%;
        margin: 50px;
    }

    .card a {
        color: black;
    }

    .card h1 {
        text-align: center;
    }

    /*** Section articles ***/

    .container {
        width: 70%;
        margin: 0 auto;
        padding: 50px 0;
    }

    #row1 {
        width: 100%;
    }

    #row1, #row2 {
        margin-bottom: 30px;
    }

/*** Fin du Main ***/

/*** Footer ***/

footer#backgroundFooter {
    height: 100px;
    background-color: #D4DBE3;
}

footer .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*** Fin du Footer ***/
