{# Dans le fichier twig appelé par mon controleur, j'étends le fichier base.html.twig cela me permet
de récupérer le header, le footer, et tout le html défini dans le fichier base.html.twig #}
{% extends 'base.html.twig' %}

{# Block qui contient le titre du document du site #}
{% block title %}Home{% endblock title %}

{# Block qui contient le contenu du document du site #}
{% block main %}

    <main>

        {# Section des titres des Articles #}
        <section class="row justify-around align-center" id="homeTitleArticle">

            {% for article in articles |slice(2,5) %}

                <a href="{{ path('article_show', {'id': article.id} ) }}">
                    <h1>{{ article.title }}</h1>
                </a>

            {% endfor %}

        </section>

        {# Section de l'image en fond #}
        <section><div class="imgSect2"></div></section>

    </main>

{% endblock main %}